[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=bash -c "swaybg -m fill -i $(find %h/Pictures/backgrounds/ -type f | shuf -n1)"
Restart=on-failure
