/* Vague color scheme */
@define-color background #141415;
@define-color foreground #cdcdcd;
@define-color border #878787;
@define-color marker #252530;
@define-color shadow #606079;
@define-color lightshadow #90a0b5;
@define-color red #c48282;
@define-color blue #6e94b2;
@define-color orange #f3be7c;
@define-color aqua #b4d4cf;
@define-color green #7fa563;

* {
    font-size:14px;
    font-family: "Noto Sans", "FiraCode Nerd Font Propo";
}

window#waybar{
    all:unset;
}
.modules-left {
    margin:0px 0px 0px 400px;
    border-radius:10px;
    background: alpha(@background,.8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-center {
    margin:0px 10px 0px 10px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-right {
    margin: 0px 400px 0px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

tooltip {
    background: @background;
    color: @foreground;
}
#clock:hover,#battery:hover,#cpu:hover,#memory:hover,#temperature:hover,
#network:hover,#custom-swaync:hover,#idle_inhibitor:hover,#mpris.title:hover,
#pulseaudio.microphone:hover,#pulseaudio:hover,#mpris:hover,#tray:hover,
#bluetooth:hover,#network:hover {
    transition: all .2s ease;
    color: white;
}

#custom-powermenu:hover{
    transition: all .2s ease;
    color: @red;
}

#custom-separator-dot-line {
    font-size:14px;
    margin: 0px 2px;
    color: alpha(@white,.7);
}

#workspaces button {
    all:unset;
    margin: 0px 3px;
    color: alpha(@foreground,.85);
    transition: all .2s ease;
}
#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover {
    color: white;
    /* background: alpha(@shadow,.2); */
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    transition: all 1s ease;
}
#workspaces button.active,
#workspaces button.empty.active {
    color: @blue;
    border-radius:4px;
    /* background: alpha(@marker,.8); */
    font-weight: bold;
}
#workspaces button.empty {
    color: alpha(@foreground,.6);
    text-shadow: 0px 0px 2px rgba(0,0,0,.6);
}
#window {
    border-radius:10px;
    color: @foreground;
    padding: 0px 2px 0px 0px;
    margin: 0px 4px;
    /* background:@marker; */
}
window#waybar.empty #window {
    min-width: 0px;
    margin: 0px;
}
window#waybar.empty #custom-separator-dot-line-hide {
    min-width: 0px;
    margin: 0px;
    font-size: 0px;
    padding: 0px;
}
#custom-separator-dot-line-hide {
    color: @foreground;
}


#custom-swaync{
    color: @foreground;
    font-size:15px;
    margin:0px 2px 0px 0px;
    padding: 0px 0px 0px 4px;
}
#clock{
    color:@foreground;
    margin: 0px 2px;
    /* background:@marker; */
    transition: all .3s ease;
}
#idle_inhibitor {
    margin: 0px 1px;
    padding: 0px 4px 0px 0px;
    color:@foreground;
}

#pulseaudio.microphone {
    margin: 0px 2px;
}
#pulseaudio {
    margin: 0px 2px;
}
#mpris-group {
    color: @foreground;
    margin: 0px 2px;
}
#mpris.title {
    color: @foreground;
    font-size: 14px;
    margin: 0px 2px;
}
#tray{
    margin: 3px 2px;
    transition: all .3s ease; 
    background: alpha(@lightshadow,.7);
    border-radius:10px;
}

#bluetooth{
    margin: 0px 3px;
    font-size:14px;
    transition: all .3s ease;
    color:@foreground;

}
#network{
    font-size:14px;
    margin: 0px 3px;
    transition: all .3s ease;
    color:@foreground;
}
#network.disconnected,
#network.disabled {
    color:@red;
}
/* #network.stats { */
/*     min-width: 12em; */
/* } */

#custom-powermenu{
    color: @foreground;
    font-size:13px;
    margin: 0px 2px;
    padding: 0px 4px 0px 0px;
}


#battery{
    margin: 0px 2px;
    transition: all .3s ease;
    color: @foreground;
}
#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @orange;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu,#memory,#temperature{
    margin: 0px 5px;
    transition: all .3s ease; 
    color:@foreground;

}
