binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.
    // You can also use a shell. Do this if you need pipes, multiple commands, etc.
    // Niri does not parse arguments, so each argument needs its own quotes
    // or you can invoke a shell and let it handle the parsing, example:
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

    // I am setting the overlay hints only for one direction, cycling
    // through hjkl for each bind, to illustrate the combinations
    // but arrow keys are also bound (I think for all, but did not check carefully)

    // shows a list of important hotkeys.
    Mod+Shift+apostrophe cooldown-ms=400 { show-hotkey-overlay; } // Mod + ?


    // applications
    Mod+D hotkey-overlay-title="Application Launcher" {
        spawn "dms" "ipc" "call" "spotlight" "toggle";
    }
    Mod+M hotkey-overlay-title="Settings" {
        spawn "dms" "ipc" "call" "settings" "focusOrToggle";
    }
    Mod+N hotkey-overlay-title="Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle";
    }
    Mod+Return hotkey-overlay-title="Open Wezterm" { spawn "wezterm"; }
    Mod+Shift+Return hotkey-overlay-title="Open Foot (transparent)" { spawn "foot" "-o" "colors.alpha=0.6"; }
    Mod+Alt+Return hotkey-overlay-title="Open Foot" { spawn "foot"; }
    Mod+Control+Return hotkey-overlay-title=null { spawn "kitty"; }
    // Mod+Alt+Return { spawn "alacritty"; }
    Mod+E hotkey-overlay-title="Open File Explorer" { spawn "nautilus" "-w"; }
    Mod+B hotkey-overlay-title="Open Ungoogled Chromium" \
        { spawn "flatpak" "run" "io.github.ungoogled_software.ungoogled_chromium"; }
    Mod+Shift+B  hotkey-overlay-title="Open Firefox" { spawn "firefox"; }
    Mod+Alt+B hotkey-overlay-title="Open Zen" \
        { spawn "flatpak" "run" "app.zen_browser.zen"; }
    Mod+G hotkey-overlay-title="Open Calculator" {
        spawn "gnome-calculator" "-m" "advanced";
    }

    // screen lock
    Mod+Shift+P hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }

    // Audio Controls
    Mod+P hotkey-overlay-title="Toggle mpd playback" allow-when-locked=true { spawn "mpc" "toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" \
        "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" \
        "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" \
        "@DEFAULT_AUDIO_SINK@" "toggle"; }
    // Microphone
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" \
        "@DEFAULT_AUDIO_SOURCE@" "0.01+"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" \
        "@DEFAULT_AUDIO_SOURCE@" "0.01-"; }
    XF86AudioMicMute           allow-when-locked=true { spawn "wpctl" "set-mute" \
        "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Brightness Controls
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "1" "";
    }
    Shift+XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "10" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "1" "";
    }
    Shift+XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "10" "";
    }

    // Scripts
    // select and run directly
    Mod+S hotkey-overlay-title="Run script" repeat=false { spawn "bash" "-c" \
        "foot --app-id=script-float -D $HOME/scripts bash -c \\
        'cmd=$(ls | fzf); [ -n \"$cmd\" ] && { ./$cmd; }' }"; }
    // select and run with arguments, no pause after script
    Mod+Alt+S hotkey-overlay-title="Run script with arguments" repeat=false { spawn "bash" "-c" \
        "foot --app-id=script-float -D $HOME/scripts bash -c \\
        'cmd=$(ls | fzf); [ -n \"$cmd\" ] && { read -e -p \"./$cmd \" args; ./$cmd $args; }'"; }
    // select and run with arguments, pause after script
    Mod+Shift+S hotkey-overlay-title="Run script with arguments & confirm" repeat=false { spawn "bash" "-c" \
        "foot --app-id=script-float -D $HOME/scripts bash -c \\
        'cmd=$(ls | fzf); [ -n \"$cmd\" ] && { read -e -p \"./$cmd \" args; \\
        ./$cmd $args; echo; read -p \"Press Enter to close...\"; }'"; }

    // specific scripts
    Mod+Shift+O hotkey-overlay-title="Open PDF file" repeat=false { spawn "bash" "-c" \
        "foot --app-id=script-float -D $HOME/scripts -e bash pdf-open.sh"; }
    Alt+Print hotkey-overlay-title="Screenshot with script" { spawn "~/scripts/.fuzzel/screenshot.sh"; }

    // chameleos (https://github.com/Treeniks/chameleos)
    // requires chameleos to run, see spawn-at-startup
    Mod+Shift+F1 hotkey-overlay-title=null { spawn "chamel" "stroke-width" "2"; }
    Mod+F1 hotkey-overlay-title=null { spawn "chamel" "stroke-width" "4"; }
    Mod+F2 hotkey-overlay-title=null { spawn "chamel" "stroke-width" "8"; }
    Mod+Shift+F2 hotkey-overlay-title=null { spawn "chamel" "stroke-width" "16"; }
    Mod+F3 hotkey-overlay-title=null { spawn "chamel" "clear"; }
    Mod+F4 hotkey-overlay-title=null { spawn "chamel" "toggle"; }
    Mod+F5 hotkey-overlay-title=null { spawn "chamel" "clear-and-deactivate"; }
    Mod+F6 hotkey-overlay-title=null { spawn "chamel" "stroke-color" "#3B8DFF"; }
    Mod+F7 hotkey-overlay-title=null { spawn "chamel" "stroke-color" "#FF0000"; }
    Mod+F8 hotkey-overlay-title=null { spawn "chamel" "stroke-color" "#008000"; }
    Mod+F9 hotkey-overlay-title=null { spawn "chamel" "undo"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    // change focus
    Mod+Left  hotkey-overlay-title=null { focus-column-or-monitor-left; }
    Mod+Down  hotkey-overlay-title=null { focus-window-or-monitor-down; }
    Mod+Up    hotkey-overlay-title=null { focus-window-or-monitor-up; }
    Mod+Right hotkey-overlay-title=null { focus-column-or-monitor-right; }
    Mod+H     hotkey-overlay-title="Focus column left" { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-monitor-down; }
    Mod+K     { focus-window-or-monitor-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Home hotkey-overlay-title="Focus First Column" { focus-column-first; }
    Mod+End  hotkey-overlay-title="Focus Last Column"  { focus-column-last; }

    // move columns
    Mod+Shift+Left  hotkey-overlay-title=null { move-column-left; }
    Mod+Shift+Down  hotkey-overlay-title=null { move-window-down; }
    Mod+Shift+Up    hotkey-overlay-title=null { move-window-up; }
    Mod+Shift+Right hotkey-overlay-title=null { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     hotkey-overlay-title="Move column down" { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Shift+Home  { move-column-to-first; }
    Mod+Shift+End   { move-column-to-last; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    // change focus (monitor based)
    Mod+Ctrl+Left  hotkey-overlay-title=null { focus-monitor-left; }
    Mod+Ctrl+Down  hotkey-overlay-title=null { focus-monitor-down; }
    Mod+Ctrl+Up    hotkey-overlay-title=null { focus-monitor-up; }
    Mod+Ctrl+Right hotkey-overlay-title=null { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     hotkey-overlay-title="Focus monitor up" { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    // move a column to a different monitor
    Mod+Shift+Ctrl+Left  hotkey-overlay-title=null { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  hotkey-overlay-title=null { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    hotkey-overlay-title=null { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right hotkey-overlay-title=null { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     hotkey-overlay-title="Move column to monitor right" \
                         { move-column-to-monitor-right; }

    // move a single window to a different monitor
    Mod+Ctrl+Alt+Left  hotkey-overlay-title=null { move-window-to-monitor-left; }
    Mod+Ctrl+Alt+Down  hotkey-overlay-title=null { move-window-to-monitor-down; }
    Mod+Ctrl+Alt+Up    hotkey-overlay-title=null { move-window-to-monitor-up; }
    Mod+Ctrl+Alt+Right hotkey-overlay-title=null { move-window-to-monitor-right; }
    Mod+Ctrl+Alt+H     { move-window-to-monitor-left; }
    Mod+Ctrl+Alt+J     { move-window-to-monitor-down; }
    Mod+Ctrl+Alt+K     { move-window-to-monitor-up; }
    Mod+Ctrl+Alt+L     hotkey-overlay-title="Move window to monitor right" \
                       { move-window-to-monitor-right; }

    // move a workspace to a different monitor
    Mod+Shift+Ctrl+Alt+Left  hotkey-overlay-title=null { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Alt+Down  hotkey-overlay-title=null { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+Alt+Up    hotkey-overlay-title=null { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+Alt+Right hotkey-overlay-title=null { move-workspace-to-monitor-right; }
    Mod+Shift+Ctrl+Alt+H     hotkey-overlay-title="Move workspace to monitor left" \
                             { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Alt+J     { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+Alt+K     { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+Alt+L     { move-workspace-to-monitor-right; }

    // switch between workspaces
    Mod+I hotkey-overlay-title="Switch Workspace Up" { focus-workspace-up; }
    Mod+U hotkey-overlay-title="Switch Workspace Down" { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Page_Down      { focus-workspace-down; }

    // move column between workspaces
    Mod+Shift+I hotkey-overlay-title="Move Column Workspace Up" \
        { move-column-to-workspace-up; }
    Mod+Shift+U hotkey-overlay-title="Move Column Workspace Down" \
        { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }

    // move window between workspaces
    // Mod+Shift+Alt+U hotkey-overlay-title="Move Window Workspace Down" \
    //     { move-window-to-workspace-down; }
    // Mod+Shift+Alt+I         { move-window-to-workspace-up; }
    // Mod+Shift+Alt+Page_Down { move-window-to-workspace-down; }
    // Mod+Shift+Alt+Page_Up   { move-window-to-workspace-up; }

    // move workspaces
    Mod+Shift+Alt+Page_Down { move-workspace-down; }
    Mod+Shift+Alt+Page_Up   { move-workspace-up; }
    Mod+Shift+Alt+U hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Mod+Shift+Alt+I         { move-workspace-up; }

    // These binds will change direction based on the natural-scroll setting.
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown  cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp    cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft  { focus-column-left; }

    Mod+Shift+WheelScrollDown  cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp    cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft  { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    // move column
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    // move single window
    Mod+Alt+1 { move-window-to-workspace 1; }
    Mod+Alt+2 { move-window-to-workspace 2; }
    Mod+Alt+3 { move-window-to-workspace 3; }
    Mod+Alt+4 { move-window-to-workspace 4; }
    Mod+Alt+5 { move-window-to-workspace 5; }
    Mod+Alt+6 { move-window-to-workspace 6; }
    Mod+Alt+7 { move-window-to-workspace 7; }
    Mod+Alt+8 { move-window-to-workspace 8; }
    Mod+Alt+9 { move-window-to-workspace 9; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.

    // Move current window in/out of columns
    Mod+ISO_Level3_Shift+udiaeresis hotkey-overlay-title=null \
        { consume-or-expel-window-left; } // Mod+[
    Mod+ISO_Level3_Shift+dead_diaeresis hotkey-overlay-title=null \
        { consume-or-expel-window-right; } // Mod+]
    // Move windows in/out of current column
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R hotkey-overlay-title="Change Column Width" { switch-preset-column-width; }
    Mod+Shift+R { set-window-width "33%"; }
    Mod+Ctrl+R { set-window-width "50%"; }
    Mod+T hotkey-overlay-title="Change Column Height" { switch-preset-window-height; }
    Mod+Shift+T { set-window-height "50%"; }
    Mod+Ctrl+T { reset-window-height; }

    Mod+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    // makes the column "fill the rest of the space"
    Mod+Ctrl+F { maximize-window-to-edges; }

    Mod+C hotkey-overlay-title="Center Column" { center-column; }
    Mod+Ctrl+C { center-visible-columns; } // Center all fully visible columns on screen.

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+KP_Subtract hotkey-overlay-title="Decrease Window Width" \
        { set-column-width "-8.3%"; }
    Mod+minus { set-column-width "-8.3%"; }
    // Mod+Shift+1 { set-column-width "+10%"; } // Mod+'+', but already used for
    // window movement
    Mod+KP_Add  { set-column-width "+8.3%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+minus { set-window-height "-10%"; }
    Mod+Shift+KP_Subtract { set-window-height "-10%"; }
    Mod+Shift+KP_Add hotkey-overlay-title="Increase Window Height" \
        { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Shift+V hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Mod+V       hotkey-overlay-title="Focus Floating Toggle" \
        { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W hotkey-overlay-title="Toggle Tabs" { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print hotkey-overlay-title="Screenshot Box" { screenshot show-pointer=false; }
    Ctrl+Print  hotkey-overlay-title="Screenshot Screen"  \
        { screenshot-screen show-pointer=false; }
    Shift+Print hotkey-overlay-title="Screeenshot Window" { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // a script to close all the windows
    Mod+Shift+Ctrl+Q hotkey-overlay-title="Close All Windows" \
        { spawn "bash" "-c" "~/.config/niri/niri-scripts.sh"; }
    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+Ctrl+E hotkey-overlay-title="Exit Niri" { quit; }
    Ctrl+Alt+Delete { quit; }

}
