// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 5
    background-color "transparent"

    // When to center a column when changing focus, options are:
    // - "never", default, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"
    always-center-single-column

    // The widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking
        // gaps into account. For example, you can perfectly fit four windows
        // sized "proportion 0.25" on an output.
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }
    // You can also customize the heights that "switch-preset-window-height"
    // (Mod+T) toggles between.
    preset-window-heights { 
        proportion 0.20
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary
    // shape. If you don't like that, set `prefer-no-csd` (see below).
    // Niri will draw focus ring and border *around* windows that agree to omit
    // their client-side decorations.
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 1

        // Color of the ring on the active monitor.
        active-color "#6e94b2"

        // Color of the ring on inactive monitors.
        inactive-color "#878787"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        // off

        width 2
        active-color "#6e94b2"
        inactive-color "#878787"
        // Color of the border around windows that request your attention.
        urgent-color "#d8647e"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        // on
        // I don't like shadows, so I removed all of the default settings
        // if I ever changer my mind, here see the default config:
        // https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // I am reducing the top and bottom gaps to the screen edges/waybar with this
    struts {
        // left 10
        // right 10
        top -4
        bottom -4
    }

    // The looks of Tab markers, openind with Mod+W
    tab-indicator {
        width 4
        gaps-between-tabs 4
        corner-radius 8
        position "left"
        length total-proportion=0.8
        place-within-column
        active-color "#c3c3d5"
        inactive-color "#606079"
    }
}
