[core]
	editor = nvim
	whitespace = space-before-tab,trailing-space
	preloadindex = true
	excludesfile = ~/dotfiles/.gitignore
[init]
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	tool = nvimdiff
	renames = copies
	interHunkContext = 10
[pull]
	rebase = false
[push]
	default = current
[merge]
	conflictstyle = diff3
[rebase]
	autoStash = true
	missingCommitsCheck = warn
[status]
	showStash = true
	branch = true
	showUntrackedFiles = all
[branch]
	sort = -committerdate
[tag]
	sort = -taggerdate
[stash]
	showIncludeUntracked = true
[rerere]
	enabled = true
[gc]
	auto = 3000
[color.decorate]
	HEAD = 183 bold
	branch = 70
	remoteBranch = 220
	tag = 208
	stash = 127
[grep]
	lineNumber = true
	patternType = perl
[alias]
	lol = log --oneline --decorate
	graph = log --oneline --graph --decorate
	history = reflog --date=iso --pretty
	wdiff = diff --word-diff
	smartblame = blame -C -C -C
	hh = rev-parse HEAD
	hash = rev-parse --verify

