// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction


//
// Inputs
//
// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            layout "ch"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
        track-layout "global"
        repeat-rate 80

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        accel-speed 0.0
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus mode="center-xy"

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows fully on screen.
    focus-follows-mouse max-scroll-amount="15%"

    // Normally, switching to the same workspace by index twice will do nothing
    // If this flag is enabled, switching to the same workspace by index twice will
    // switch back to the previous workspace.
    workspace-auto-back-and-forth

    // how nested mod and super is handled, here the default is swapped around
    // mod-key "Alt"
    // mod-key-nested "Super"
}

// cursor files in $XDG_DATA_HOME/icons/<theme-name>
/- cursor {
    xcursor-theme "breeze_black_cursors"
    xcursor-size 18
}


//
// Outputs
//
// You can configure outputs by their name, which you can find by running
// `niri msg outputs` while inside a niri instance. The built-in laptop monitor
// is usually called "eDP-1". Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
/-output "eDP-1" {
    // Uncomment this line to disable this output.
    // off

    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one
    // automatically. Run `niri msg outputs` in a niri instance to list all
    // outputs and their modes.
    mode "1920x1080@120.030"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 2

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left".
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size
    // of 1920×1080, so to put another output directly adjacent to it on the right,
    // set its x to 1920. If the position is unset or results in an overlap, the
    // output is instead placed automatically.
    position x=1280 y=0
}
// the debug output if launched inside another compositor
output "Smithay Winit Unknown" {
    // backdrop-color "#808495"
    backdrop-color "#404455"
}

// my main monitor
output "DP-1" {
    position x=2560 y=0
    backdrop-color "#141415"
}


//
// Window Layout and Styling
//

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // dms sets the gaps
    gaps 6
    background-color "transparent"

    // When to center a column when changing focus, options are:
    // - "never", default, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"
    always-center-single-column

    // The widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking
        // gaps into account. For example, you can perfectly fit four windows
        // sized "proportion 0.25" on an output.
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }
    // You can also customize the heights that "switch-preset-window-height"
    // (Mod+T) toggles between.
    preset-window-heights { 
        proportion 0.20
        proportion 0.33
        proportion 0.5
        proportion 0.66
        proportion 1.0
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary
    // shape. If you don't like that, set `prefer-no-csd` (see below).
    // Niri will draw focus ring and border *around* windows that agree to omit
    // their client-side decorations.
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 1

        // Color of the ring on the active monitor.
        active-color "#6e94b2"

        // Color of the ring on inactive monitors.
        inactive-color "#878787"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        // off

        width 2
        active-color "#6e94b2"
        inactive-color "#878787"
        // Color of the border around windows that request your attention.
        urgent-color "#d8647e"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        // on
        // I don't like shadows, so I removed all of the default settings
        // if I ever changer my mind, here see the default config:
        // https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // I am reducing the top and bottom gaps to the screen edges/waybar with this
    struts {
        // left 10
        // right 10
        top -2
        bottom 1
    }

    // The looks of Tab markers, openind with Mod+W
    tab-indicator {
        width 4
        gaps-between-tabs 4
        corner-radius 8
        position "left"
        length total-proportion=0.8
        place-within-column
        active-color "#c3c3d5"
        inactive-color "#606079"
    }
}

// Colors can be set in a variety of ways:
// - CSS named colors: "black"
// - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
// - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

// Animation settings.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.6

    window-open {
        off
    }
    workspace-switch {
        off
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1600 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=2400 epsilon=0.0001
    }
}

// Gestures
gestures {
    // open overview if mouse goes to top-left corner
    hot-corners {
        off
    }
}

// Alt+Tab or Mod+Tab window switching
recent-windows {
    debounce-ms 1250
    open-delay-ms 100
    highlight {
        active-color "#878787ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }
    previews {
        max-height 1080
        max-scale 0.5
    }
    binds {
        // Escape will cancel the switcher
        Alt+Tab               { next-window; }
        Alt+Shift+Tab         { previous-window; }
        Alt+Control+Tab       { next-window     filter="app-id"; }
        Alt+Shift+Control+Tab { previous-window filter="app-id"; }

        Mod+Tab               { next-window; }
        Mod+Shift+Tab         { previous-window; }
        Mod+Control+Tab       { next-window     filter="app-id"; }
        Mod+Shift+Control+Tab { previous-window filter="app-id"; }
    }
}


//
// Named workspaces
//
workspace "term" {
    open-on-output "eDP-1"
}
workspace "browser" {
    open-on-output "eDP-1"
}
workspace "files" {
    open-on-output "eDP-1"
}
workspace "4" {
    open-on-output "eDP-1"
}
workspace "5" {
    open-on-output "eDP-1"
}
workspace "6" {
    open-on-output "eDP-1"
}
workspace "7" {
    open-on-output "eDP-1"
}
workspace "apps" {
    open-on-output "eDP-1"
}

// set the windows to the named workspaces
window-rule {
    match app-id="Vivaldi-flatpak"
    match app-id=r#"^.*\.ungoogled_chromium$"#
    match app-id="org.mozilla.firefox"
    match app-id="one.ablaze.floorp"
    match app-id="zen"
    open-on-workspace "browser"
    default-column-width { proportion 1.0; }
}
window-rule {
    match at-startup=true app-id=r#"thunderbird"#
    match at-startup=true app-id=r#"keepass"#
    open-on-workspace "apps"
    default-column-width { proportion 0.8; }
}
window-rule {
    match app-id="obsidian"
    open-on-workspace "notes"
    default-column-width { proportion 1.0; }
}

//
// Window rules
//

// let you adjust behavior for individual windows.
// 'niri msg pick-window' is great for finding the window information
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width. (documentation example)
/- window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
// Second Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default. (docs)
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// small popup
window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="qalculate-gtk"
    match app-id=r#"pomodoro"#
    default-column-width { proportion 0.48; }
    default-window-height { proportion 0.6; }
    open-floating true
}

// script popup
window-rule {
    match app-id="script-float"
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.7; }
    open-floating true
}

// file selector popups
window-rule {
    match app-id="org.kde.filelight" title="Select Folder to Scan — Filelight"
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.7; }
    open-floating true
}
window-rule {
    match title="Save As" app-id="org.gnome.Nautilus"
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.7; }
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// zoom is troublesome with wayland in general, but especially bad in tilers
window-rule {
    match app-id="zoom"
    open-floating true
}

// full width apps
window-rule {
    match app-id="Vivaldi-flatpak"
    match app-id=r#"^.*\.ungoogled_chromium$"#
    match app-id="gimp"
    match app-id=r#"^steam_app_"#
    default-column-width { proportion 1.0; }
}

// 0.75 width apps
window-rule {
    match app-id=r#"thunderbird"#
    default-column-width { proportion 0.75; }
}

// 0.66 width apps
window-rule {
    match app-id="org.kde.discover"
    match app-id=r#"Discord$"#
    match app-id="org.mozilla.firefox"
    match app-id="one.ablaze.floorp"
    match app-id="zen"
    match app-id="steam" title="Steam"
    match app-id="obsidian"
    default-column-width { proportion 0.66; }
}

// 0.33 width apps
/-window-rule {
    default-column-width { proportion 0.33; }
}

// block out apps from screen recordings
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    // match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id="calendar"
    match app-id=r"Thunderbird$"

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}


//
// Layer Rules
//
// layer rules match layer-shells instead of windows and have different proerties
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layer-Rules

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

/-layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// block notifications from screencasts
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

//
// General Configuration
//

// set environment variables
environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}
// Display for xwayland-satellite, automatically handled by niri, requires version >= 0.7
// for Electron version > 28 the environment variable above is sufficient
// Electron apps with version <= 28, pass these options explicitly
// --enable-features=UseOzonePlatform --ozone-platform-hint=auto
// Some Java apps show blank windows, set this environment variable
//   _JAVA_AWT_WM_NONREPARENTING=1
// this should fix it
// Some games can have various issues, using Valve's gamescope can usually
// fix them, run it with (most launchers have their own setup to configure gamescope)
// gamescope -f -w 1920 -h 1080 -W 1920 -H 1080 --force-grab-cursor --backend sdl -- <game>


// Ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some
// client-side rounded corners. This option will also fix border/focus ring
// drawing behind some semitransparent windows. After enabling or disabling
// this, you need to restart the apps for this to take effect.
prefer-no-csd

// don't show the shortcut overlay at startup
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// You can also set this to null to disable saving screenshots to disk.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.

// autostart does not work with system theme
// currently use the wm-start script to launch these manually (have an alias)

// systemd services, mainly for auto-restarts
spawn-at-startup "systemctl" "--user" "start" "swaybg"
spawn-at-startup "systemctl" "--user" "start" "swayidle"
spawn-at-startup "systemctl" "--user" "start" "swaync"
spawn-at-startup "systemctl" "--user" "start" "waybar"
spawn-at-startup "systemctl" "--user" "start" "wlsunset"

// screen annotation tool (also has keybindings)
spawn-at-startup "systemctl" "--user" "start" "chameleos"

// these would be needed, but are handled with systemd instead:
// spawn-at-startup "sh" "-c" "swaybg -m fill -i $(find ~/Pictures/backgrounds/ -type f | shuf -n1) &"
// spawn-at-startup "waybar"
// spawn-at-startup "wlsunset" "-T" "6500" "-t" "3000" "-S" "05:00" "-s" "20:00" "-d" "1800"
// 󱞩 gamma shift blue light at night, start at 20:00, takes 30 minutes, ends 05:00
// spawn-at-startup "swayidle" "-w" \
//     "timeout" "900" "'niri msg action power-off-monitors'" \
//     "timeout" "1800" "'swaylock -f'" \
//     "timeout" "5400" "'systemctl suspend'" \
//     "resume" "'niri msg action power-on-monitors'" \
//     "before-sleep" "'swaylock -f'"
// 󱞩 This will power off the screens after 15 minutes of inactivity, lock the
// screen after 30 minutes. After 90 minutes the system will go to sleep.
// I don't know if turning the screens back on is neccesary
// It will also lock your screen before your computer goes to sleep.


// If the device is a Laptop, look at 'switch-events'
/-switch-events { }


//
// Keybindings
//


include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"

include "dms/cursor.kdl"
