* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.3);
}
button {
  color: #bbccdd;
	background-color: rgba(30, 30, 30, 0.7);
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus {
	background-color: rgba(50, 50, 50, 0.9);
  outline-style: solid;
  outline-color: #bbccdd;
}

button:active {
  /* usually this is not visible */
	background-color: #77b300;
  outline-style: solid;
  outline-color: #bbccdd;
}

button:hover {
  color: #ff9900;
	background-color: rgba(30, 30, 30, 1.0);
  outline-style: solid;
  outline-color: #bbccdd;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
